<div class="container">
  <div class="row">
    <div class="col-md-8">
    <h1>Future Box Office Rankings</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= link_to "MovieYak Home", root_path, class: "btn btn-md btn-primary" %>
    </div>
    <div class="col-md-4">
    <%= form_tag("/results", method: "get") do %>
      <%= submit_tag "Get Last Weekends Box Office Results", class: "btn btn-md btn-primary" %>
      <%= select_tag(:num, options_for_select([[5], [10], [15], [20], [25]], 10)) %>
    <% end %>
    </div>
  </div>
  <hr>
  <table class="table">
    <thead>
      <td>Title</td>
      <td><%= @date.strftime("%m/%d") %></td>
      <td><%= (@date + 7).strftime("%m/%d") %></td>
      <td><%= (@date + 14).strftime("%m/%d") %></td>
    </thead>
    <tbody>
      <% @movies.each do |m| %>
      <tr>
        <td><%= m.title %></td>
        <td><%= @movies.index(m) + 1 %></td>
        <td><%= @one_week.shuffle.index(m) + 1 %></td>
        <td><%= @one_week.shuffle.index(m) + 1 %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>